@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply flex h-full flex-col;
  }

  body {
    @apply flex flex-1 flex-col items-center overflow-x-hidden bg-zinc-100;
  }

  main {
    @apply flex w-full max-w-7xl flex-1 flex-col px-2 pb-10 pt-16 md:px-4 md:pt-20;
  }

  * {
    @apply border-black;
  }

  img {
    @apply select-none;
  }
}

@layer components {
}

@layer utilities {
}
